<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Halaman Index</h1>
        <a href="add_todo" class="btn btn-sm btn-primary">Tambah Data</a>
        <br/>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Content</th>
                    <th>Deskripsi</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% tasks.forEach(function(task){ %>
                <tr>
                    <td><%= task.id %></td>
                    <td><%= task.content %></td>
                    <td><%= task.description %></td>
                    <td><%= task.is_complete %></td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="todo_edit/<%= task.id %>">Edit</a>
                        <form action="/todo_delete/<%= task.id %>" method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>